@media screen and (max-width: 1200px)   {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    /* top bar */

    .logo {
        margin-left: 20px;
    }

    /* introtext */

    .introductionunderwelcome {
        text-align: center;
    }
    
    #about {
        height: 100vh; 
      }
    
      .about-container {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
        margin-top: 0; 
      }
    
      .profile-pic {
        width: 150px;  
        height: 150px;
        box-shadow: none;  
      }
    
      .section__intro {
        text-align: center;  
        margin-top: 20px; 
      }
    
      .introduction {
        font-size: 1.8rem;
        margin-bottom: 10px; 
      }
    
      .introunderintro {
        font-size: 0.9rem; 
        text-align: center; 
      }

      .details-grid {
        grid-template-columns: 1fr; 
        grid-gap: 10px;  
      }
    
      .detail {
        font-size: 1rem;
        display: flex;
        align-items: center; 
        justify-content: center;
        text-align: center;
      }
      
      .arrow {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    /* boxes */

    #experience {
        padding: 20px 10px;
      }
    
      .box {
        max-width: 90%;
        padding: 15px;
        top: -15px;
      }
    
      h2 {
        font-size: 1.6rem;
      }
    
      .experiencedesc {
        font-size: 0.9rem;
        line-height: 1.6;
      }
    
      .btn {
        width: 100%;
        padding: 0.8rem;
        font-size: 0.9rem;
      }
    
      .timeline-container {
        flex-direction: column;
        align-items: center;
      }
    
      .timeline {
        width: 100%;
        padding-left: 0;
      }
    
      .timeline::before {
        left: -5px;
        top: 75px;
        height: 70%;
      }
    
      .timeline-item {
        margin-left: 0;
        padding: 10px;
      }
    
      .timeline-dot {
        left: -12px;
        width: 12px;
        height: 12px;
      }
    
      .timeline-title {
        font-size: 1.3rem;
      }
    
      .timeline-description h4,
      .timeline-content h4 {
        font-size: 1rem;
      }
    
      .timeline-content p,
      .timeline-description p {
        font-size: 0.85rem;
      }
    
      .timeline-institute {
        font-size: 0.8rem;
        right: 10px;
      }

    /* projects */
    
    #projects {
        margin-top: 500px;
        background-color: white;
    }

    .projecttemp {
        top: 50px;
    }

    #contact {
        background-color: white;
        margin-top: 1000px;
    }

    .footer1 {
        background-color: white;
    }

    /* contact */

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* bottom nav */

    .navigation {
        display: none;
    }
}


